*{
    box-sizing: border-box;
    padding: o;
    margin: 0;

}


:root{
    --Lime: hsl(61, 70%, 52%);
    --slite-lime: hsl(61, 70%, 80%);
    --red: hsl(4, 69%, 50%);

    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);
}

body{
    background-color: var(--Slate-100);
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid; 
    place-content: center; 
}




label{
    width: 100%;
    margin-bottom: .5rcm;
    display: block;
}

input [type="number"] {
    width: 100%;
    padding: .25rem .5rem;
    font-weight: 700;
    border: 0;
    outline: 0;
}

input[type="radio"]{
    appearance: none;
    width: .5rem;
    height: .5rem;
    margin-right: .5rem;
    outline: 2px solid var(--Slate-900);
    outline-offset: 3px;
    border-radius: 50%;
}

input[type="radio"]:checked{
    background-color: var(--Lime);

}


.radio-inputs{
    cursor: pointer;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    font-weight: 50%;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--Slate-300);
}

.radio-inputs:hover {
    border: 1px solid var(--Lime);
}

.radio-inputs label{
    margin-bottom: 0;
}

.mortgage-type{
    border: 0;
    width: 100%;
}

.light-text{
    padding: 5px;
}

button{
    cursor: pointer;
}

.form-item{
    margin-bottom: 2rem;
    padding: 5px;
}


.form-symbol{
    background-color: var(--Slate-100);
    color: var(--Slate-700);
    padding: .5rem .75rem;
    font-weight: 700;
}


.form-flex{
    display: flex;
    border: 1px solid var(--Slate-300);
}


.form-flex:hover{
    border: 1px solid var(--Slate-500);
}

.form-cool{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 15px;
}

.form-cool .form-item{
    margin: 0;
}


.mortgage-calculator{
    background-color: var(--White);
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    border-radius: 1.5rem; 
    overflow: hidden;
}

.mortgage-calculator .left{
    color: var(--Slate-900);
}

.mortgage-calculator .left .light-text{
    color: var(--Slate-700);
    font-weight: 500;
}

.mortgage-calculator .left .header{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.mortgage-calculator .left .header button{
    background-color: transparent;
    color: var(--Slate-700);
    font-size: 1.15rem;
    text-decoration: underline;
    border: 0;
    padding: 5px;
}

.mortgage-calculator .left{
    padding: 20px;
}

.mortgage-calculator .left .header button:hover{
    color: var(--Slate-900);

}

.mortgage-calculator .left .calculator-btn{
    background-color: var(--Lime);
    color: var(--Slate-900);
    padding: .75rem 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 1.5rem ;
}

.mortgage-calculator .left .calculator-btn:hover{
    background-color: var(--slite-lime);

}

.mortgage-calculator .right{
    background-color: var(--Slate-900);
    color: var(--White);
    border-radius: 0 0 0 64px; 
    padding: 25px;
}

.mortgage-calculator .right .light-text{
    color: var(--Slate-500);
    font-weight: 500;
    padding: 15px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.calculation{
    display: grid;
    background-color: hsl(202, 80%, 12%);
    border-top: 5px solid var(--Lime);
    border-radius: 10px;
    padding: 35px;
    margin-top: 30px;
}


.calculation .cal{
    background-color: transparent;
    border: 0;
    width: 100%;
    padding: 20px;
}